page-others {
  .select-bar{
    height: 3.5rem;
    width: 76%;
    border-radius: 5px;
    border-bottom: black;
    margin-left: 1rem;
  }
  .font-selct{
    background: blue;
    margin-top: 2px;
  }
  .cc-icon{
    width: 10%;
    text-align: center;
    font-size: 3rem;
    margin-left: 1.5px;
  }
  .st-algn{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .slct-bar{
    height: 5rem;
    border-radius: 5px;
    width: 84%;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }
  .his-footer{
    text-align: center;
    padding: .5rem;
    ion-icon{
        font-size: 2rem;
        padding-bottom: .5rem;
      }
      p{
        margin: 0;
      }
    }
    .fm-img{
      width: 8rem;
      height: 8rem;
      border-radius: 5rem;
      margin-bottom: 1rem;
      background-size: cover;
      margin: 0 auto;
      margin-bottom: .5rem;
      margin-top: 3rem;
  }
  .pad {
    border: solid 1px black;
    width: 84%;
    height: 8%;
    margin-bottom: 10%;
    margin-left: 8%;
    border-radius: 3px;
  }
  .text-area {
    margin-top: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 10%;
    height: 20%;
  }
  .icon-stle{
    text-align: center;
    font-size: 5rem;
  }
}
