page-add-zone {
  .zone-list{
    padding: 1rem;
    ion-item{
        padding: 0;
        ion-label{
            margin-left: 1rem;
        }
    }
  }
  .add-site{
    padding: 1rem;
  }
  .err-msg{
      color: red;
      margin-top: .5rem;
  }
  .margin-top{
    border: 1px solid grey;
    border-radius: .5rem;
    max-width: 100%;
    padding: 1rem;
    button{
      width: 0;
      height: 0;
    }
  }
  .cancel-flt-btn{
    margin-top: 2rem;
    float: left;
  }
  .add-flt-btn{
      margin-top: 2rem;
      float: right;
  }
  #map{
    width: 100%;
    height: 300Px;
  }
  .add-circle{
    color: #7b6b6b;
    font-size: 3.5rem;
    width: 5rem;
    font-weight: bold;
    text-align: center;
    height: 5rem;
    border: 2px dashed #7b6b6b;
    border-radius: 50%;
    margin: 0 auto;
  }
  .add-booking{
    text-align: center;
    font-weight: bold;
  }
  .booking-div{
    margin-top: 0.5rem;
    border-bottom: 1px solid lightgrey;
  }
}
