page-signup {
  .tulbar-txt {
    .toolbar-background-md {
      background-color: blue;
      color: black;
    }
    .toolbar-title-md {
      color: black;
    }
  }
  .content-padding{
    padding: 2rem;
  }
  /* .content-bgcolor {
    background-image: url("../../assets/imgs/back3.jpg");
    background-size: cover;
    background-position: center;
  } */
  .hello-title {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-family: auto;
  }
  .text-msg {
    text-align: center;
    font-size: 2rem;
    color: black;
  }
  .otp-text{
    margin-top: 3rem;
  }
  .pass-box {
    margin: 0 auto;
    width: 30rem;
    margin-top: 1rem;
    background: none;
    color: black;
    input {
      text-align: center;
    }
  }
  .email-box {
    margin: 0 auto;
    width: 30rem;
    margin-top: 1rem;
    background: none;
    color: black;
  }
  .user-img{
      text-align: center;
      img{
          width: 7rem;
          height: 7rem;
          border-radius: 3.5rem;
      }
  }
  .otp-box {
    margin: 0 auto;
    margin-top: 1rem;
    background: none;
    color: black;
    width: 12rem;
    padding-left: 28px;
    border: 1px solid black;
  }
  .resend-btn {
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 1.5rem;
    ion-icon {
      padding-right: 0.5rem;
    }
  }
  .next-btn {
    box-shadow: none;
    background: none;
    border-radius: 0.5rem;
    border: 1px solid #797676;
    margin-top: 3rem;
    width: 20rem;
    color: black;
  }
  .update-btn {
    box-shadow: none;
    background: none;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-top: 5rem;
  }
  .signup-btn {
    box-shadow: none;
    background: none;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin: 0 auto;
  }
  .margin-top {
    margin-top: 1.5rem;
  }
  .flat-number {
    width: 14rem;
    margin-right: 3rem;
    float: right;
  }
  .blk-number {
    width: 14rem;
    margin-left: 1.5rem;
    float: left;
  }
  .login-txt {
    margin-top: 6rem;
    font-size: 1.5rem;
    color: #480202;
    text-align: center;
    span {
      color: #f17d08;
      text-transform: uppercase;
    }
  }
  .err-msg {
    color: red;
  }
  #otp-input {
    padding: 0px;
    padding-left: 6px;
    letter-spacing: 22px;
    font-size: 20px;
    background: none;
    border: 0;
    background-image: linear-gradient(to left, #ff8d00 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 33px 2px;
    background-repeat: repeat-x;
    background-position-x: 24px;
    width: 220px;
    min-width: 220px;
    margin-bottom: 0px;
  }
  #otp-content {
    left: 0;
    position: sticky;
  }

  #otp-holder {
    margin: 0 auto;
    width: 19rem;
    margin-top: 3rem;
    overflow: hidden;
    background: none;
  }
  .resend-txt{
    text-align: center;
    color: black;
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
.toast-green .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 300px;
  background: green;
  border-radius: 25px;
  text-align: center;
}
.toast-red .toast-wrapper {
    padding: 0px !important;
    bottom: 150px !important;
    max-width: 300px;
    background: red;
    border-radius: 25px;
    text-align: center;
  }
