<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-bgcolor">

    <div class="content-padding">
    <div text-center>
      <img style="width: 55px; border-radius: 50%;" src="../../assets/images/images.png">
    </div>
    <div class="hello-title">
      <h1>LittleOffice-Ops</h1>
    </div>
    <div *ngIf="next==1">
      <div class="text-msg">Enter your regestered details to get started!</div>
      <p class="err-msg" *ngIf="isuser">This email id and mobile number are not exist</p>
      <ion-item class="email-box" no-margin no-padding>
        <ion-input type="text" [(ngModel)]="email" placeholder="Enter Email Id"></ion-input>
      </ion-item>
      <ion-item class="email-box" no-margin no-padding>
        <ion-label>+91</ion-label>
        <ion-input type="tel" [(ngModel)]="mobile" placeholder="Mobile Number" maxlength="10"></ion-input>
      </ion-item>
      <div class="otp-text" text-center>Please enter your pin which is sent to your mobile</div>
      <div id="otp-holder">
        <div id="otp-content">
          <input id="otp-input" type="tel" [(ngModel)]="otp" maxlength="6" pattern="\d{6}" autocomplete="off" />
        </div>
      </div>
      <button text-center full clear ion-button *ngIf="isuser && !isTimer" class="resend-btn" (click)="resendPin()">
        <ion-icon name="refresh"></ion-icon>Resend Pin
      </button>
      <div *ngIf="isTimer" class="resend-txt"> Resend After secs</div>
      <div text-center class="margin-top">
        <button ion-button class="next-btn" (click)="onClickNext1()">Next</button>
      </div>
      <div class="login-txt">Already have an account? <span (click)="onClickLogin()">Log In</span></div>
    </div>

    <div *ngIf="next==2" class="content-margin">
      <div *ngIf="isphoto"></div>
      <div class="user-img">
        <img *ngIf="photoUrl==undefined" src="../../assets/imgs/default.jpg" (click)="onClickGetPic()">
        <img *ngIf="photoUrl!==undefined" src="{{photoUrl}}">
      </div>
      <div *ngIf="checkpass" class="err-msg">Password not matching</div>
      <ion-item class="pass-box" no-margin no-padding>
        <ion-input type="password" [(ngModel)]="pass1" placeholder="Set password"></ion-input>
      </ion-item>
      <ion-item class="pass-box" no-margin no-padding>
        <ion-input type="password" [(ngModel)]="pass2" placeholder="Re-enter password"></ion-input>
      </ion-item>
      <div text-center class="margin-top">
        <button ion-button class="update-btn" (click)="onClickNext()">Create User</button>
      </div>
    </div>
  </div>

</ion-content>
