<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>history</option>
          <option (onchange)="onClickChang()">Site1</option>
          <option>Site2</option>
          <option>Site3</option>
          <option>Man power search</option>
          <option>Purcahge</option>
          <option>others</option>
          <option>Pickup</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>

</ion-header>


<ion-content padding>
  <div>
    <div class="st-algn">History</div>
    <ion-list class="list-md">
        <div class="back-clr row" >
          <div col-6>
            <div>01/01/2019</div>
            <div>Visited : location-1</div>
            <div>purpose : meeting-Mng</div>
          </div>
          </div>
    </ion-list>
    <ion-list class="list-md">
        <div class="back-clr row" >
          <div col-6>
            <div><span>01/01/2019</span></div>
            <div><span>Visited:location-1</span></div>
            <div><span>purpose:meeting-Mng</span></div>
          </div>
          </div>
    </ion-list>
    <ion-footer bottom center (click)="onClickTasks()">
        <div class="his-footer">
          <span>Tasks</span><ion-icon name="list"></ion-icon>
        </div>
      </ion-footer>
  </div>
</ion-content>
