<!--
  Generated template for the GeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Select site or purpose</option>
          <option (onchange)="onclickchange()">Site1</option>
          <option>Site1</option>
          <option>Site1</option>
          <option>Site1</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>


</ion-header>


<ion-content padding>
    <div class="st-algn">General<span>*</span></div>
    <div text-center>
        <img src="../../assets/images/camera.png" *ngIf="!staffPic" (click)="TakePic()" class="fm-img" [ngClass]=" staffPic ?'red-border':''">
        <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
      </div>
      <div class="icon-mic">
          <ion-icon name="mic"></ion-icon>
          </div>
          <ion-textarea class="text-area" placeholder="Deployement Notes go here" [(ngModel)]="description">
            </ion-textarea>
            <p class="err-msg"><span>*</span>Same work-flow forEmergency/Site-Escalations tasks</p>
            <ion-footer class="icon-stle">
                <ion-icon name="play"></ion-icon>
                <ion-icon name="pause"></ion-icon>
                <ion-icon name="square"></ion-icon>
              </ion-footer>
</ion-content>
