<!--
  Generated template for the TrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Select site or purpose</option>
          <option (onchange)="onclickchange()">Site1</option>
          <option>Site2</option>
          <option>Site3</option>
          <option>Man power search</option>
          <option>Purcahge</option>
          <option>others</option>
          <option>Pickup</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <button text-center full clear ion-button *ngIf="isuser && !isTimer" class="resend-btn" (click)="timer()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    <div *ngIf="isTimer" class="resend-txt">00:25</div>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Training</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <option (onchange)="onclickchange()">House Keeping</option>
                <option>HouseKeeping</option>
                <option>Electro-mechanical</option>
                <option>Admin</option>
              </select>
              <select class="slct-bar col-8" aria-placeholder="select">
                  <option (onchange)="onclickchange()">Traing Type</option>
                  <option>Monthly</option>
                  <option>Emergency</option>
                  <option>Regular</option>
                </select>
            </div>
          </div>
          <div text-center>
              <img src="../../assets/images/camera.png" *ngIf="!staffPic" (click)="TakePic()" class="fm-img" [ngClass]=" staffPic ?'red-border':''">
              <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
            </div>
            <ion-textarea class="text-area" placeholder="visit notes can go here" [(ngModel)]="description">
              </ion-textarea>
              <ion-footer class="icon-stle">
                  <ion-icon name="play"></ion-icon>
                  <ion-icon name="pause"></ion-icon>
                  <ion-icon name="square"></ion-icon>
                </ion-footer>
</ion-content>
