page-addtask {

  .cc-icon{
    width: 10%;
    text-align: center;
    font-size: 3rem;
    margin-left: 1.5px;
  }
  .font-selct{
    background: blue;
    margin-top: 2px;
  }
  .select-bar{
    height: 3.5rem;
    width: 76%;
    border-radius: 5px;
    border-bottom: black;
    margin-left: 1rem;
  }
  .st-algn{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .slct-bar{
    height: 5rem;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 1rem;
  }
  .brder{
    border: solid black 1px;
    padding: 2rem;
    text-align: center;
  }
  .pass-box{
    width: 65%;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    float: left;
    height: 10px;
    margin-left: 3rem;
  }
  .btns-div {
    margin-top: 2rem;
    button {
      width: 11rem;
    }
  }
  .icon-fnt{
    font-size: 3.2em;
    margin-left: -2rem;
    color: gray;
  }
  .text-area {
    margin-top: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
  .fab-style{
    float: left;
    margin-left: 3rem;
    width: 79%;
    border: solid 1px gray;
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 5rem;
  }
  .btn-fab{
    float: left;
    margin-bottom: 1rem;
    width: 100%;
    padding-left: 15rem;
    height: 47px;
    background: white;
    padding-right: 1rem;
  }
  .date-fab{
    float: left;
    width: 58%;
    border: solid 1px gray;
    border-radius: 5px;
    padding-left: 0rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    .item-cover {
      left: 72%;
      top: 25%;
      position: absolute;
      width: 11%;
      height: 5%;
      background: transparent;
      cursor: pointer;
  }
  }
  .cal-fab{
    font-size: 4.5rem;
    color: #222;
  }
}
