page-add-user {
  ion-content {
    background: whitesmoke !important;
  }
  .fm-card {
    padding: 2rem;
  }

  .upload-txt {
    color: white;
    background: orange;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 0 auto;
    width: 10rem;
    text-align: center;
  }

  .sel-opt-box {
    border-radius: 3px;
    padding: 0.3rem;
    width: 28.8rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .name-box {
    border: solid grey 1px;
    border-radius: 0.5rem;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input{
        margin: 10px 8px;
    }
  }

  .dob-box{
    border: solid grey 1px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

   button{
        height: 50px;
        width: 60px;
        margin-left: 23rem;
    }
  }
  .add-btn {
    float: right;
    width: 8em;
  }
  .fm-img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: solid grey 1px;
    margin-bottom: 1rem;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  .text-input-md {
    margin: 6px 8px;
  }
  .cancel-btn {
    float: left;
    width: 8em;
  }
  .err-msg {
    color: red;
    margin: 0.3rem;
  }
  .red-border {
    border: 1px solid red;
  }
}
.toast-bg .toast-wrapper {
  padding: 0px !important;
  bottom: 150px !important;
  max-width: 250px;
  background: red;
  border-radius: 25px;
  text-align: center;
}
