page-meeting {
  .select-bar{
    height: 3.5rem;
    width: 76%;
    border-radius: 5px;
    border-bottom: black;
    margin-left: 1rem;
  }
  .font-selct{
    background: blue;
    margin-top: 2px;
  }
  .cc-icon{
    width: 10%;
    text-align: center;
    font-size: 3rem;
    margin-left: 1.5px;
  }
  .st-algn{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .slct-bar{
    height: 5rem;
    border-radius: 5px;
    width: 84%;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }
  .resend-btn {
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 1.5rem;
    ion-icon {
      padding-right: 0.5rem;
    }
  }
  .fm-img{
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: .5rem;
    margin-top: 3rem;
}
.text-area {
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
  margin-left: 10%;
  height: 20%;
}
.icon-stle{
  text-align: center;
  font-size: 5rem;
}
.icon-mic{
  text-align: center;
  font-size: 5rem;
  margin-top: 4rem;
}
}
