page-home-screen {

  .card-stl{

    height: 11rem;
    width: 12rem;
    margin-left: 3rem;
  }
  .img-stl{
    width: 33px;
    border-radius: 34%;
    text-align: center;
    margin: 0 auto;
  }
  .card-fab{
    height: 11rem;
    width: 12rem;
    margin-top: 1rem;
  }
  .img-fab{
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .card-fnt{
    height: 11rem;
    width: 25rem;
    margin-left: 3rem;
  }
  .img-fnt{
    width: 62px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .card-bg{
    height: 11rem;
    width: 25rem;
    margin-right: 3.6rem;
    margin-top: 1rem;
  }
  .img-bg{
    width: 70px;
    border-radius: 50%;
    margin: auto;
  }
  .card-crd{
    height: 11rem;
    width: 12rem;
    margin-left: 3rem;
  }
  .img-crd{
    width: 39px;
    border-radius: 50%;
    margin: auto;
  }
}
