<!--
  Generated template for the HomeScreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>homeScreen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="display: flex">
    <ion-card class="card-stl"(click)="onClickTask()">
      <ion-card-header>
          <img class="img-stl" src="../../assets/images/task.jpg">
      </ion-card-header>
      <ion-card-content style="text-align: center">Task Management</ion-card-content>
    </ion-card>
    <ion-card class="card-fab" (click)="onClickSchedule()">
      <ion-card-header>
        <img class="img-fab" src="../../assets/images/schedule.png">
      </ion-card-header>
      <ion-card-content style="text-align: center">Schedule Management</ion-card-content>
    </ion-card >
  </div>
  <div style="display: flex">
    <ion-card (click)="onClickSetup()" class="card-fnt">
      <ion-card-header>
          <img class="img-fnt" src="../../assets/images/setup.jpg">
      </ion-card-header>
      <ion-card-content style="text-align: center">Set-Up</ion-card-content>
    </ion-card>
    <ion-card class="card-bg" (click)="onClickFindteam()">
      <ion-card-header>
          <img class="img-bg" src="../../assets/images/find.png">
      </ion-card-header>
      <ion-card-content style="text-align: center">Find My Team</ion-card-content>
    </ion-card>
  </div>
  <div style="display: flex">
    <ion-card (click)="onClickTeam()" class="card-crd">
      <ion-card-header>
          <img class="img-crd" src="../../assets/images/team.png">
      </ion-card-header>
      <ion-card-content style="text-align: center">Team Management</ion-card-content>
    </ion-card>
  </div>

</ion-content>
